---
name: test
on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - '5.14'
          - '5.24'
          - latest
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: perl-version
        run: perl -V

      - uses: actions/cache@v1
        id: cache
        with:
          path: /usr/local/lib/perl5
          key: ${{ runner.os }}-perl-${{ matrix.perl-version }}-${{ hashFiles('cpanfile') }}
          restore-keys: ${{ runner.os }}-perl-${{ matrix.perl-version }}-

      - name: install deps
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          cpanm --installdeps .

      - name: test
        run: prove -Ilib -r
        env:
          HARNESS_PERL_SWITCHES: -MDevel::Cover

      # 2020-02-04 Devel::Cover::Report::Coveralls doesn't comment on pull-request.
      # It seems to need to send `service_pull_request` to coveralls.
      - name: coverage
        run: |
          cpanm -n Devel::Cover Devel::Cover::Report::Coveralls
          cover -report coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
